body, html {
    height: 90%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://raw.githubusercontent.com/SiLae0k/Dashboards-Oliver/main/photo.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: rgba(43, 87, 151, 0.5);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.button {
    background-color: #2b5797;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #1e3f73;
}

.button.active {
    background-color: #4CAF50;
}

.table-container {
    width: 100%;
    max-height: 400px;
    background-color: #2b5797;
    border-radius: 10px;
    overflow-y: auto;
}

.main-table {
    width: 100%;
    border-collapse: collapse;
}

.main-table th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.main-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.main-table th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.main-table td {
    background-color: #4CAF50;
    color: white;
}

.download-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

.download-link:hover {
    text-decoration: underline;
}

.message {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.search-input {
    width: calc(30% - 40px);
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.small-text {
    font-size: 12px;
    margin: 10px;
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 500px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 60%;
        margin: 5px 0;
    }

    .container {
        width: 80%;
        padding: 15px;
    }
}
