body, html {
    height: 99%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://github.com/SiLae0k/Dashboards-Oliver/blob/main/photo.jpg");
    background-size: cover; /* Menutupi seluruh area background */
    background-position: center; /* Memposisikan background di tengah */
}

.container {
    width: 80%;
    margin: 10px auto;
    background-color: rgba(43, 87, 151, 0.5); /* Warna transparan */
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Diperlukan untuk penempatan input pencarian */
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 34px;
}

.button {
    background-color: #2b5797;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #1e3f73;
}

.button.active {
    background-color: #4CAF50;
}

.table-container {
    width: 100%;
    max-height: 400px; /* Adjust this value as needed */
    background-color: #2b5797;
    border-radius: 10px;
    overflow-y: auto;
}

.main-table {
    width: 100%;
    border-collapse: collapse;
}

.main-table th {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.main-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.main-table th {
    background-color: #2b5797;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.main-table td {
    background-color: #4CAF50;
    color: white;
}

.download-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center; /* Mengatur teks di tengah */
    display: block; /* Memastikan agar teks di tengah diaplikasikan secara benar */
    margin: 0 auto; /* Mengatur margin untuk membuat teks berada di tengah horizontal */
    width: 100px; /* Mengatur lebar elemen sesuai kebutuhan */
}

.download-link:hover {
    text-decoration: underline;
}

.message {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

/* New CSS to center align text in Action column */
.main-table td.action {
    text-align: center;
}

.search-input {
    position: absolute;
    top: 62px; /* Adjust as needed */
    right:1380px; /* Adjust as needed */
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.small-text {
    font-size: 12px; /* Mengatur ukuran teks menjadi kecil */
    margin: 10px; /* Memberi sedikit margin dari tepi */
    position: absolute;
    top: 1px; /* Adjust as needed */
    right:10px; /* Adjust as needed */
    color: #ffffff;
}
